
<div class="container">
  <div>
    <br>
  </div>
<div>

    <label>Filter Customers :</label>
    <input type="text" [(ngModel)]="term" />


  <table CLASS="table table-striped">
    <thead>
    <th>Telephone Number</th>
    <th>Name</th>
    <th>Age</th>
    <th>Address</th>
    <th>Email</th>
    <th>Operation</th>
    </thead>
    <tbody>
    <tr *ngFor="let customer of modle2 | filter:term ; let i = index">
      <td>{{customer.tpNumber}}</td>
      <td>{{customer.name}}</td>
      <td>{{customer.age}}</td>
      <td>{{customer.address}}</td>
      <td>{{customer.email}}</td>
      <td>
        <button class = "btn btn-danger">Delete</button>
        <button class = "btn btn-primary"(click)="updateCustomer(i)">Edit</button>
      </td>
    </tr>
    </tbody>


  </table>

</div>
<!--
  <div class="container">
    <form>
      <div class="form-group">
        <label>Telephone Number</label>
        <input type="text" (keyup)="onNameKeyUp($event)">
      </div>
      <button type="submit" class="btn btn-success" (click)="getCustomer()">View Customer</button>
      <h1>{{num}}</h1>
    </form>
  </div>

<div>

  <table CLASS="table table-striped">
    <thead>
    <th>Telephone Number</th>
    <th>Name</th>
    <th>Age</th>
    <th>Address</th>
    <th>Email</th>
    <th>Operation</th>
    </thead>
    <tbody>
    <tr *ngFor="let customer of modle">
     <td>{{customer.tpNumber}}</td>
      <td>{{customer.name}}</td>
      <td>{{customer.age}}</td>
      <td>{{customer.address}}</td>
      <td>{{customer.email}}</td>
      <td>
        <button class = "btn btn-danger">Delete</button>
        <button class = "btn btn-primary"(click)="updateCustomer(formModle)">Edit</button>
      </td>
    </tr>
    </tbody>


  </table>
</div>
</div>

<div>
  <h2>Customer</h2>
  {{ CurrentCustomer }}
</div>-->
</div>



